[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
flake8 = "*"
flask-cors = "*"
eventlet = "*"
flask-socketio = "*"
cpplint = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
app = "python3 main.py"
linter = "flake8 src"
test = "python3 -m pytest test"
